body {
    background-image: url('https://wallpapersite.com/images/wallpapers/triangles-2160x1920-colorful-hd-5505.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
}

.welcome-h2 {
  color: #b6335b;
  font-size: 40px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.welcome-container {
  height: 90vh;
  overflow: scroll;
}