.Album {
    border-radius: 8px;
    border: 2px solid #3c305e;
    height: 200px;
    margin: 6%;
    margin-top: 12%;
    width: 200px;
    cursor: pointer;
    perspective: 600;
    position: relative;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .coverArt {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card .card-back {
    backface-visibility: hidden;
    background-color: rgba(0,0,0,0);
    color: white;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
}

.album-name,
p {
    margin: 0;
    font-size: 30px;
}

.favorite {
    background-color: rgba(0,0,0,0);
    border: none;
    background-image: url("https://cdn0.iconfinder.com/data/icons/rafif-flat-vol-4/512/heart-512.png");
    background-size: cover;
    height: 25px;
    margin-top: 1%;
    margin-right: 3%;
    width: 25px;
    float: right;
}



.notFavorite {
    background-color: rgba(0,0,0,0);
    border: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/ui-22/24/496-512.png");
    background-size: cover;
    height: 25px;
    margin-top: 1%;
    margin-right: 3%;
    width: 25px;
    float: right;
}

.card-border {
    /* background-color: #15b0f6; */
    border: 2px solid #3c305e;
    border-radius: 8px;
    height: 250px;
    width: 250px;
}