.Album {
    border-radius: 8px;
    border: 4px solid #ed1228;
    height: 200px;
    margin: 6%;
    margin-top: 12%;
    width: 200px;
    cursor: pointer;
    perspective: 600;
    position: relative;
}

.card-border:hover,
.Album:hover {
   box-shadow:
   0 0 0.1vw  0.1vw #fff7f7,   
   0 0 0.3vw  0.3vw #a20818, 
   0 0   1.5vw  0.2vw #ed1228,
   inset 0 0 1vw  0.2vw #ed1228,
   inset 0 0 0.3vw  0.1vw #a20818,
   inset 0 0 0.1vw  0.1vw #fff7f7;
   background-color: rgba(0, 0, 0, .3)
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .coverArt {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card .card-back {
    backface-visibility: hidden;
    background-color: #002236;
    color: white;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
}

.album-name,
p {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 16px;
}

.favorite {
    background-color: rgba(0,0,0,0);
    border: none;
    background-image: url("https://cdn0.iconfinder.com/data/icons/rafif-flat-vol-4/512/heart-512.png");
    background-size: cover;
    height: 25px;
    margin-top: 1%;
    margin-right: 3%;
    width: 25px;
    float: right;
}



.notFavorite {
    background-color: rgba(0,0,0,0);
    border: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/ui-22/24/496-512.png");
    background-size: cover;
    height: 25px;
    margin-top: 1%;
    margin-right: 3%;
    width: 25px;
    float: right;
}

.card-border {
    /* background-color: #15b0f6; */
    border: 4px solid #ed1228;
    border-radius: 8px;
    height: 250px;
    margin-bottom: 30px;
    width: 250px;
}

.label {
    color: #36abdd;
    font-size: 20px;
}