.create-user-form {
  display: grid;
  margin-left: 30%;
  margin-top: 5%;
  width: 40%;
}

.create-user-button {
  background-color: #36abdd;
  border: 3px solid #002236;
  border-radius: 6px;
  color: #002236;
  font-size: 30px;
  height: 50px;
}
