
nav {
  display: flex;
  height: 10vh;
  justify-content: space-between; 
  align-items: center;
  padding-top: 20px;
}

a.Nav {
  text-decoration: none;
  color: white;
}

h1 {
  color: #ee8d60;
  font-size: 46px;
  margin: 0;
  margin-left: 1%
}

